faker
redis
confluent-kafka
duckdb
pyiceberg
langgraph
langchain
langchain-openai
langchain-core
neo4j
python-dotenv
presidio-analyzer
presidio-anonymizer
spacy
prometheus_client
pandas
pyarrow
networkx
